QMainWindow {
    background-color: #1B293F;
    color: #CBD1D8;
    width: 100vh;
    height: 100vh;
}

QLabel {
    color: #CBD1D8;
}

QLabel#leftEye,
QLabel#leftEyeBW,
QLabel#rightEye,
QLabel#rightEyeBW,
QLabel#baseImage,
QLabel#trackMovementsBox {
    border: 2px solid #CBD1D8;
}

QCheckBox {
    spacing: 5px;
}

QPushButton {
    background-color: rgb(99, 144, 3);

    border-width: 2px;
    border-radius: 10px;
}

QPushButton:pressed{
    border-style: inset;
    background-color: rgb(97, 97, 97)
}

QAbstractButton {
    color: rgb(175, 189, 196);
}
